##############################
# IntelliJ
##############################

.idea/
*.iml

##############################
# VS Code
##############################

.vscode/

##############################
# Java
##############################

target/
*.class
*.jar
*.war
*.ear

##############################
# Maven
##############################

.mvn/wrapper/maven-wrapper.jar

##############################
# Logs
##############################

*.log

##############################
# Environment
##############################

.env
.env.*

##############################
# OS
##############################

.DS_Store
Thumbs.db

##############################
# Flutter
##############################

.dart_tool/
build/

##############################
# Node
##############################

node_modules/

##############################
# Coverage
##############################

coverage/